<!DOCTYPE html>

<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="{{ site.baseurl}}/javascript/prism.js"></script>	
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/prism.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/wecatch.css"> 
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/mystyle.css"> 
		<title>{{ page.title }}</title>

		<style>
			.markdown-body {
				box-sizing: border-box;
				min-width: 200px;
				max-width: 980px;
				margin: 0 auto;
				padding: 45px;
			}

			@media (max-width: 767px) {
				.markdown-body {
					padding: 15px;
				}
			}
		</style>
	</head>

	<body>
		<div id="header">
			{% include header.html %}
		</div>
		<article id="container">
				<div id="page">
					<div id="nav">
						{% include navigation.html %}
					</div>
					<div id="content" class="markdown-body">
						{{ content }}
					</div>
				</div>
				
				<div id="footer">
						{% include footer.html %}
				</div>
		</article>
		<canvas id="mycanvas"></canvas>
		<script type="text/javascript">
			var mycanvas = document.getElementById("mycanvas");
			var ctx = mycanvas.getContext("2d");
			ctx.canvas.width = window.innerWidth;
			ctx.canvas.height = window.innerHeight;
			//圆形类
			function Circle(x, y, r, color) {
				this.x = x;
				this.y = y;
				this.r = r;
				// 颜色的取值范围
				this.color = "rgb(" + (parseInt(Math.random() * 240) + 9) + "," + (parseInt(Math.random() * 220) + 18) + ",203)";
				//随机方向
				this.dx = Math.random() * 12 - 7;
				this.dy = Math.random() * 12 - 7;
				//往数组中push自己
				circleArr.push(this);
			}
			//渲染
			Circle.prototype.render = function () {
				//新建一条路径
				ctx.beginPath();
				//创建一个圆
				ctx.arc(this.x, this.y, this.r, 0, Math.PI * 2, true);
				//设置样式颜色
				ctx.fillStyle = this.color;
				//通过填充路径的内容区域生成实心的图形
				ctx.fill();
			}
			//更新
			Circle.prototype.update = function () {
				this.x += this.dx;
				this.y += this.dy;
				this.r--;
				if (this.r < 0) {
					for (var i = 0; i < circleArr.length; i++) {
						if (circleArr[i] === this) {
							circleArr.splice(i, 1);
						};
					}
					return false;
				}
				return true;
			}
			//创建一个数组
			var circleArr = [];
			//鼠标移动事件
			window.onmousemove = function (event) {
				new Circle(event.clientX, event.clientY, 30, "orange");
			}
			//设置定时器每20毫秒更新和渲染
			setInterval(function () {
				ctx.clearRect(0, 0, window.innerWidth, window.innerHeight)
				for (var i = 0; i < circleArr.length; i++) {
					circleArr[i].update() && circleArr[i].render();
				};
			}, 20);
		</script>
	</body>

</html>
